<!--Create Boilerplate HTML-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body>
    <!--To include our header from partials folder-->
    <%- include('../partials/header.ejs') %>
    <!--To include our errorMessage from partials folder-->
    <%- include('../partials/errorMessage.ejs') %>

    <!--importing everything from views pages-->
    <%- body %>
    <br>
    After
</body>
</html>